$font-stack: Helvetica, sans-serif;
$background-color: #E0E0E0;
$foreground-color: #000000;
$primary-color: #232020;
$secondary-color: #EDEDED;

body {
  font: 100% $font-stack;
  background-color: $primary-color;
  margin: 0px;
}

#app {
  width: 100vw;
  height: 100vh;
  background-color: $background-color;
  padding: 18px;
  border: 2px solid darken($background-color, 5);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}


@keyframes move-bg-gradient {
  0% {
    background-position: -57px 0;
  }
  100% {
    background-position: 0 0;
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.hidden {
  display: none !important;
}

.flow-workspace {
  flex-grow: 1;
  height: 100%;
  position: relative;
  overflow: hidden;
  border: 1px solid darken($background-color, 10);
  background-color: $primary-color;
  box-sizing: border-box;

  &.move-content {
    cursor: move;
  }

  .flow-perspective {
    position: absolute;
    
    &.unactive {
      pointer-events: none;
      opacity: 0.8;
    }
  }

  .flow-group {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 1px;
    left: 1px;
    justify-content: space-around;
    background-color: #1C1818;
    padding: 20px;
    
    &.dragging-stage {
      background: repeating-linear-gradient(-45deg, #463620, #463620 20px, #463c20 20px, #463c20 40px);
      animation: linear infinite move-bg-gradient 1s;
      background-size: 150% 100%;
      box-shadow: 0 0 0 1px #EDEC57;
    }

    .flow-stage {
      width:200px;
      min-height: 122px;
      margin: 0 4px;
      padding: 2px 0;
      border: 0 solid #6B3018;
      border-width: 12px 1px 1px;
      box-shadow: 0 -1px 0px #a5654c;
      background-color: #A57f4c;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: center;
      
      &.dummy {
        opacity: 0.4;
      }
      
      &.dragging-block {
        background: repeating-linear-gradient(-45deg, #A57f4c, #A57f4c 20px, #A58D4C 20px, #A58D4C 40px);
        animation: linear infinite move-bg-gradient 1s;
        background-size: 150% 100%;
        box-shadow: 0 0 0 1px #EDEC57;
      }
    }
    
    .flow-block {
      // background-color: #312722;
      background-color: #d2ae7d;
      box-shadow: -1px -1px 0px rgba(0,0,0,0.6) inset, 1px 1px 0px rgba(255, 255, 255, 0.12) inset;
      margin: 2px 2px 0;
      padding: 5px;
      color: $foreground-color;
      justify-content: center;
      align-items: center;
      display: flex;

      &.dummy {
        opacity: 0.4;
      }

      &:last-child {
        margin-bottom: 2px;
      }
    }
  }
}

.app-tools {
  display: block;
  width: 210px;
  height: 100%;
  background-color: #F0F0F0;
  display: flex;
  flex-direction: row;


  .tools-resizer {
    cursor: ew-resize;
    overflow: hidden;
    min-width: 10px;
    font-family: comic sans ms;
    color: #858585;
    background-color: #E0E0E0;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: hover;

    &:hover {
      background-color: #D3D3D3;
    }

    &.is-resizing {
      background-color: #D3D3D3;
    }
  }

  .tools-content {
    flex-grow: 1;
    border: 1px solid darken($background-color, 10);
    box-sizing: border-box;
    overflow: hidden;

    .tools-tool {
      width: 100%;
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid darken($background-color, 10);
      font-family: Roboto;
      font-size: .8em;
      font-weight: 100;

      .tool-header {
        height: 20px;
        background-color: darken($background-color, 5);
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font-weight: bold;
        white-space: nowrap;
        cursor: pointer;
        position: relative;
        color: #858585;
        
        &::before {
          font-family: Roboto;
          display: block;
          content: "/\\";
          width: 200px;
          height: 20px;
          position: absolute;
          top: 2px;
          left: 2px;
        }

        &.collapsed {
          &::before {
            content: "\\/";
          }
        }
      }
      
      .tool-content {
        background-color: lighten($background-color, 15);
        padding: 2px;
      }
    }
  }
}